{
  "type": "service_account",
  "project_id": "TU_PROJECT_ID_AQUI",
  "private_key_id": "TU_PRIVATE_KEY_ID_AQUI",
  "private_key": "-----BEGIN PRIVATE KEY-----\nTU_CLAVE_PRIVADA_AQUI\n-----END PRIVATE KEY-----\n",
  "client_email": "tu-cuenta-de-servicio@tu-proyecto.iam.gserviceaccount.com",
  "client_id": "000000000000000000000",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token"
}